::selection {
  background-color: var(--color-green);
  color: var(--color-green-light);
}

:focus-visible {
  outline: 3px solid orange;
  transition: outline 0.2s ease;
  border-radius: inherit;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  scrollbar-color: var(--color-gray-600) transparent;
  scrollbar-width: auto;
  caret-color: orange;
  height: 100%;
  /* overscroll-behavior: none; */
}

body {
  color: var(--color-white);
  line-height: 1.6;
  padding: 20px 100px;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, black, var(--color-gray-850));
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover,
  &:focus-visible {
    color: var(--color-link-hover);
  }

  &:active {
    color: var(--color-link-active);
  }

  &:visited {
    color: var(--color-link-visited);

    &:hover,
    &:focus-visible {
      color: var(--color-link-visited-hover);
    }

    &:active {
      color: var(--color-link-visited-active);
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 80px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

a#navigate-back-a {
  position: relative;
  padding-bottom: 10px;
  left: -55px;
  text-decoration: none;
  z-index: 5;
  user-select: none;

  img {
    height: 1.5rem;
    margin: 0;
    border-radius: 10px;
  }
}

a#navigate-back-a:hover div#nav-back,
a#navigate-back-a:focus-visible div#nav-back {
  color: white;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  background: linear-gradient(
    to right,
    var(--color-purple-hover),
    var(--color-purple-hover),
    var(--color-purple),
    var(--color-purple-dark)
  );
}

a#navigate-back-a:focus-visible div#nav-back {
  outline: 3px solid orange;
  transition: outline 0.2s ease;
}

a#navigate-back-a:active {
  transform: scale(0.97);
}

div#nav-back {
  width: 39px;
  height: 35px;
  padding: 5px 2px 5px 5px;
  border-radius: 15px;
  font-size: 25px;
  font-family: var(--font);
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-white);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to right,
    var(--color-purple-hover),
    var(--color-purple-hover),
    var(--color-purple),
    var(--color-purple-dark)
  );
  border: 1px rgba(255, 255, 255, 0.25) solid;
  cursor: pointer;
  transition: width 0.3s ease;
  display: flex;
  align-items: center;
  transition: padding-right 0.2s ease;
}

.view-button {
  user-select: none;
  font-size: 1rem;
  font-family: var(--font);
  padding: 10px 20px 4px 20px;
  margin: 10px 15px;
  margin-bottom: 0;
  width: 200px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0px -10px 25px -11px rgba(0, 0, 0, 0.8),
    inset 0px 15px 20px -10px rgba(0, 0, 0, 0.8),
    0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  flex: 1;
  border: var(--glass-border);
  color: var(--color-gray-100);
  border-radius: 20px;
  background: radial-gradient(
    circle at center,
    var(--color-purple),
    var(--color-purple),
    var(--color-purple-dark)
  );
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
    border: var(--glass-border);
    color: var(--color-white);
    cursor: pointer;
    background: radial-gradient(
      circle at center,
      var(--color-purple-hover),
      var(--color-purple-hover),
      var(--color-purple),
      var(--color-purple-dark)
    );
    box-shadow: inset 0px -10px 25px -11px rgba(0, 0, 0, 0.8),
      inset 0px 15px 20px -10px rgba(0, 0, 0, 0.8),
      0px 15px 19px 2px rgba(0, 0, 0, 0.5);
  }

  &:active {
    transform: scale(1.02);
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple-dark),
      var(--color-purple-dark)
    );
  }

  &.active {
    border: 0.5px solid rgba(255, 255, 255, 0.5);
  }
}

div#search-field {
}

form#Search-bar {
  margin-inline: auto;
  margin-bottom: 10px;
  padding: 0;
  font-size: 0;
  width: 50vw;

  label {
    font-size: 0.75rem;
    padding-left: 20px;
    margin: 0;
    color: var(--color-gray-450);
  }

  div {
    display: flex;
    width: 100%;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 2px;
  }

  input {
    width: 100%;
    box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 1);
    margin: 0;
    background-color: var(--color-gray-800);
    border: var(--glass-border);
    color: var(--color-white);
    border-radius: 10px 0 0 10px;
    padding: 0.3rem 0.5rem;
    padding-bottom: 2.5px;
    font-family: inherit;
    font-size: 0.75rem;
    resize: none;

    &::placeholder {
      color: var(--color-gray-600);
    }

    &:focus {
      background-color: var(--color-gray-750);
      box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 0.3);
      outline: none;

      &::placeholder {
        color: var(--color-gray-500);
      }
    }
  }

  button {
    padding: 0 20px;
    margin: 0;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(var(--color-green-light-a), 0.25);
    border: var(--glass-border);
    color: var(--color-white);
    cursor: pointer;
    user-select: none;

    &:focus,
    &:hover {
      background-color: hsla(var(--color-green-light-a), 0.4);
    }

    img {
      filter: invert(1);
    }
  }
}

.pop-up-big {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.pop-up-box,
.rec-box {
  padding: 20px 50px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-height: 60%;
  background: var(--color-gray-800);
  border: var(--glass-border);
  z-index: 500;
  border-radius: 10px;

  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
    background: transparent;
    border: none;
    color: var(--color-gray-500);
    font-size: 1.2rem;

    &:hover {
      color: var(--color-gray-100);
    }

    &:active {
      color: var(--color-gray-600);
      transform: scale(0.9);
    }
  }
}

h1 {
  margin: 0px;
  font-size: 2rem;
}

.rec-box > div {
  display: flex;
  gap: 0px;
  align-items: flex-start;

  p {
    width: 50%;
    margin-top: 10px;
    margin-right: 30px;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

form#recommend {
  width: 50%;
  padding: 0 30px 40px 30px;

  textarea {
    box-sizing: border-box;
    width: 100%;
    box-shadow: inset 0 0 10px 2px hsla(0, 0%, 10%, 1),
      0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0.3rem;

    background-color: var(--color-gray-800);
    border: var(--glass-border);
    color: var(--color-white);
    border-radius: 10px;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    resize: none;

    &::placeholder {
      color: var(--color-gray-600);
    }

    &:focus {
      background-color: var(--color-gray-750);
      outline: none;
      border-radius: 10px;

      &::placeholder {
        color: var(--color-gray-500);
      }
    }
  }

  button {
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    border: var(--glass-border);
    height: 2.5rem;
    width: 100%;
    border-radius: 20px;
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple),
      var(--color-purple-dark)
    );
    color: var(--color-gray-100);
    font-size: 1.1rem;
    font-family: inherit;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease, box-shadow 0.2s ease, background 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover,
    &:focus-visible {
      transform: scale(1.05);
      border: var(--glass-border);
      color: var(--color-white);
      cursor: pointer;
      background: radial-gradient(
        circle at center,
        var(--color-purple-hover),
        var(--color-purple-hover),
        var(--color-purple),
        var(--color-purple-dark)
      );
      box-shadow: 0px 15px 19px 2px rgba(0, 0, 0, 0.5);
    }

    &:active {
      transform: scale(1.02);
      background: radial-gradient(
        circle at center,
        var(--color-purple),
        var(--color-purple-dark),
        var(--color-purple-dark)
      );
    }
  }
}

main {
  margin-top: 135px;
  border-radius: 30px;
  background-color: var(--color-gray-800);
  border: var(--glass-border);
  width: 100%;
  min-height: 2000px;
  box-shadow: 0px 15px 19px 2px rgba(0, 0, 0, 0.5);
}

#author-table {
  width: 100%;
  border-collapse: collapse;
}

#author-table th,
#author-table td {
  padding: 0px;
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid var(--color-gray-700);
}

#author-table th {
  padding: 0px;
  padding-top: 10px;
  padding-left: 20px;
}

#works-table {
  width: 100%;
  border-collapse: collapse;
}

#works-table th,
#works-table td {
  padding: 0px;
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid var(--color-gray-700);
}

#works-table th {
  padding: 0px;
  padding-top: 10px;
  padding-left: 20px;
}

.pop-up-box table,
.pop-up-box th,
.pop-up-box td {
  margin: 0;

  padding: 0 10px; /* optional: adjust horizontal padding */
  border: none; /* if you want no borders, or keep your existing */
}

.pop-up-box td {
  margin: 0;
  margin-left: 20px;
}

.pop-up-box tr {
  margin: 0;
  padding: 0;
}

.pop-up-box table td,
.pop-up-box table th {
  padding: 0 !important;
  margin: 0 !important;
}

h2 {
  margin-bottom: 0;
}
