::selection {
  background-color: var(--color-green);
  color: var(--color-green-light);
}

:focus-visible {
  outline: 3px solid orange;
  transition: outline 0.2s ease;
  border-radius: inherit;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  scrollbar-color: var(--color-purple) transparent;
  scrollbar-width: none;
  caret-color: orange;
  height: 100%;
  /* overscroll-behavior: none; */
}

body {
  color: var(--color-white);
  line-height: 1.6;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: black;
}

section a {
  color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover,
  &:focus-visible {
    color: var(--color-link-hover);
  }

  &:active {
    color: var(--color-link-active);
  }

  &:visited {
    color: var(--color-link-visited);

    &:hover,
    &:focus-visible {
      color: var(--color-link-visited-hover);
    }

    &:active {
      color: var(--color-link-visited-active);
    }
  }
}